.thick {
	font-weight: 800;
}

.form-label {
	font-weight: 900 !important;
	font-size: 1.2em !important;
}

.form-control {
	border: 2px solid #000 !important;
	border-radius: 23px;
}

.form-select {
	border: 2px solid #000 !important;
	border-radius: 23px;
}

.some-btn {
	background-color: #76E7CD !important;
	width: 8em !important;
	border-right: none !important;
	margin: 4px !important;
	border-radius: 23px !important;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 600 !important;
	color: #000000 !important;
	height: 4em !important;
}

.submit-button {
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
	margin: 0 auto;
}

.plane-icon {
	color: #F47C99;
	font-size: 8em;
	margin-top: 50px;
}

h4 {
	font-weight: 800;
	font-size: 3em;
}

.pink {
	font-weight: 800;
	color: #F47C99;
	line-height: 10px;
	font-size: 1.5em;
}

.green {
	color: #76E7CD;
	font-weight: 900;
	font-size: 2em;
}

.current-goal {
	position: relative;
	background-color: #EEEEEE;
	margin: 10px;
	border-radius: 40px;
	padding-top: 40px;
	padding-right: 70px;

}

.description-goal {
	margin-bottom: 60px;
	font-size: 1.2em;
}

.details-goal {
	line-height: 10px;
	font-weight: 600;
	font-size: 1.5em;
}

.details-goal-col {
	margin-top: 108px;
}

.goal-savings {
	padding: 50px;
	font-weight: 900;
	font-size: 1.3em;
}

.how-much-savings { 
	color: #76E7CD;
	font-size: 1.5em;
}

.some-other-btn {
	background-color: #76E7CD !important;
	width: 8em !important;
	border-right: none !important;
	border-radius: 23px !important;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 600 !important;
	font-size: 1.2em;
	margin-top: -3px;
	color: #000000 !important;
}

.pencil {
	color: #898989;
	font-size: 3em;
}

.pencil-col {
	margin-top: -30px;
	margin-bottom: 50px;
}

.saved-amount {
	margin-left: 0px;
}

.details-goal-col-fail {
	margin-top: 150px;
}

.red {
	color: #D4686F;
}

.green2 {
	color: #76E7CD;
}

.saved-add {
	margin-top: 6px;
}

.some-btn-back { 
	background-color: #76E7CD !important;
	width: 14em !important;
	border-right: none !important;
	margin-top: 30px !important;
	border-radius: 23px !important;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 600 !important;
	color: #000000 !important;
	height: 4em !important;
}

.form-control {
	font-weight: 600;
}

.form-label { 
	line-height: 6px;
}