/* button - logowanie i rejestracja */
.buttons .MuiButton-root {
    background-color: #76E7CD; 
    width: 10em;
    height: 3.5em;
    border-radius: 23px;
    border-color: #000000;
    color: #000000; /* Kolor tekstu */
  }
  
.buttons .MuiButton-root:hover {
    background-color: #5ab5a1; 
  }

.buttons .MuiButton-root:active {
    background-color: #3d8c7e; 
  }

  .App-logo {
    height: 7em;
    pointer-events: none;
    margin-left: 1em;
  }
  
  .App-brandName {
    font-family: Raleway;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0em;
    text-align: left;
  }
  