.form-label {
	font-weight: 900 !important;
	font-size: 1.2em !important;
}

.form-control {
	border: 2px solid #000 !important;
	border-radius: 23px;
}

.form-select {
	border: 2px solid #000 !important;
	border-radius: 23px;
}

.some-btn {
	background-color: #76E7CD !important;
	width: 15em !important;
	border-right: none !important;
	margin: 4px !important;
	border-radius: 23px !important;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 600 !important;
	color: #000000 !important;
}

.submit-button {
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
	margin: 0 auto;
}

.saved-add {
	margin-top: 6px;
}

.some-btn-back { 
	background-color: #76E7CD !important;
	width: 14em !important;
	border-right: none !important;
	margin-top: 30px !important;
	border-radius: 23px !important;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 600 !important;
	color: #000000 !important;
	height: 4em !important;
}

.red-b {
	color: #D4686F;
	font-weight: 900;
	font-size: 2em;
}

.current-goal .badge-right::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 50px; /* szerokość paska */
	height: 100%;
	background-color: #D4686F;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}

.current-goal .badge-right-green::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 50px; /* szerokość paska */
	height: 100%;
	background-color: #76E7CD;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}

/* Media Queries */
@media screen and (max-width: 1400px) {
	.form-label {
		font-size: 1em !important;
	}

	.some-btn {
		width: 12em !important;
	}

	.some-btn-back {
		width: 12em !important;
	}

	.red-b {
		font-size: 1.5em;
	}

	h4 {
		font-size: 2.2em;
	}
}

@media screen and (max-width: 1200px) {
	.form-label {
		font-size: 1em !important;
	}

	.some-btn {
		width: 12em !important;
	}

	.some-btn-back {
		width: 12em !important;
	}

	.red-b {
		font-size: 1.2em;
	}

	h4 {
		font-size: 1.8em;
	}
}

@media screen and (max-width: 768px) {
	.form-label {
		font-size: 1em !important;
	}

	.some-btn {
		width: 12em !important;
	}

	.some-btn-back {
		width: 12em !important;
	}

	.red-b {
		font-size: 1em;
	}

	h4 {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 576px) {
	.form-label {
		font-size: 0.8em !important;
	}

	.some-btn {
		width: 10em !important;
	}

	.some-btn-back {
		width: 10em !important;
	}

	.red-b {
		font-size: 0.8em;
	}

	h4 {
		font-size: 1.2em;
	}
}
